@import "./varibles.scss";
body{
  margin: 0;
  padding: 0;
  
}
    nav{
        display: flex;
        justify-content: flex-start;
        text-transform: capitalize;
    }
    
ul{ 
    text-decoration: none;
width: 79%;
display: flex;
justify-content: space-around;
padding-right: 1rem};

li a {
    font-family: $nav_font;
    font-size: $nav_font;
    text-decoration: none;
    color: rgba(8, 7, 10, 0.133)};

    .link{
          font-family: $nav_font;
    font-size: $nav_font;
    text-decoration: none;
    color: rgba(15, 15, 15, 0.747)
}; 
    .link:hover{
color: red;
}